:root {
    --black-color: #070707;
    --grey-color: #828282;
    --section-color: #f6f6f6;
  }
  
  body {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    background: #fff;
  }
  
  .container {
    max-width: 975px;
    margin: 0 auto;
    padding: 0 30px;
  }
  